   {% load static %}
   <!-- All Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="" >
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Page Title Here -->

<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static 'admin/images/favicon.png' %}" >
	<link href="{% static 'admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
	<link href="{% static 'admin/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
	<link href="{% static 'admin/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
	<link href="{% static 'admin/vendor/lightgallery/css/lightgallery.min.css' %}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
