{% extends "adminBase.html" %}
{% block container %}
<div class="container">
    <form method="post" class="w-75 border p-4 mb-4 border-primary">{% csrf_token %}
        <div class="mb-3">
            <label for="" class="text-dark">Enter City id:</label>
            <input type="text" name="txtcid" class="form-control" value="{{stateData.stateid}}">
        </div>
        <div class="mb-3">
            <label for="" class="text-dark">Enter State Name:</label>
            <input type="text" name="txtsname" value="{{stateData.statename}}" class="form-control">
        </div>
        
        <div class="mb-3">
            <input type="submit" class="btn btn-primary w-25" name="btnupd" value="Update">
        </div>
    </form>
</div>
{% endblock  %}